@import "./src/commom/styles/sass/variables";
@import "./src/commom/styles/sass/mixins";

.header {
  border-bottom: 2px $textSecondaryColor solid;
  display: flex;
  justify-content: flex-end;
  position: fixed !important;
  z-index: 99;
  width: 100%;
}