@import "./src/commom/styles/sass/variables";
@import "./src/commom/styles/sass/mixins";

.header {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 99;
    width: 100%;
}