@import "./src/commom/styles/sass/variables";
@import "./src/commom/styles/sass/mixins";

.contactBlock {
  min-height: 80vh;

  .contactContainer {
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 350px;
    &:nth-child(1) {
      justify-content: flex-start; //вопрос: как задать только 1 чайлду
    }

    &:nth-child(2) {
      justify-content: space-evenly;
    }


  }

  .formContainer {
    width: 300px;
    display: flex;
    flex-direction: column;
  }
}




