@import "./src/commom/styles/sass/variables";
@import "./src/commom/styles/sass/mixins";

.contactBlock {
  min-height: 88vh;

  .contactContainer {
    @include container();
    flex-direction: column;
  }

  .formContainer {
    padding: 0 5px;
    width: 100%;
    max-width: 500px;
  }
}




