@import "./src/commom/styles/sass/variables";
@import "./src/commom/styles/sass/mixins";

.skillsBlock {
  min-height: 90vh;
}

.skillsContainer {
  @include container();
  flex-direction: column;
  flex-wrap: nowrap;
}

.skills {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}