@import "./src/commom/styles/sass/variables";
@import "./src/commom/styles/sass/mixins";


.mainBlock {
  padding-top: 80px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  align-content: space-around;
  flex-wrap: wrap;
  @media screen and (max-width: 1021px) {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  //background-color: $backgroundColor;
  //animation: gradient 100s ease infinite;
  //background-size: cover;
  //@media screen and (max-width: 767px) {
  //  background-image: none !important;
  //}

  //@keyframes gradient {
  //  0% {
  //    background-position: 0 50%;
  //  }
  //  50% {
  //    background-position: 100% 50%;
  //  }
  //  100% {
  //    background-position: 0 50%;
  //  }
  //}

  .photoGeneral {
    z-index: 1;
    display: none;
    @media screen and (max-width: 1021px) {
      display: block;
      background-size: cover;
      background-position: top;
      width: 300px;
      height: 300px;
    }
  }

  .greeting {
    text-align: start;

    & h1 {
      @include text($textColor, $fontFamilyTitle, 500, 62px, 1.2);
      letter-spacing: 2px;
      text-transform: uppercase;
      @media screen and (max-width: 767px) {
        font-size: 50px;
      }

      & span {
        color: $textSecondaryColor;
        font-weight: 900;
      }
    }

    & p {
      @include text($textColor, $fontFamilyDescription, 300, 28px, 1.2);
      @media screen and (max-width: 767px) {
        font-size: 22px;
      }

      & span {
        text-decoration: 2px underline solid $textSecondaryColor;
      }
    }
  }

  .photo {
    z-index: 1;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 400px;
    @media screen and (max-width: 1268px) {
      width: 200px;
      height: 300px;
    }
    @media screen and (max-width: 1021px) {
      display: none;
    }
  }
}


