@import "./src/commom/styles/sass/variables";
@import "./src/commom/styles/sass/mixins";

.mainBlock {
  @include flex(row-reverse,center, center, nowrap );
  padding-top: 80px;
  height: 100vh;

  @media screen and (max-width: 1021px) {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .photoGeneral {
    z-index: 1;
    display: none;
    @media screen and (max-width: 1021px) {
      display: block;
      background-size: cover;
      background-position: top;
      width: 300px;
      height: 300px;
    }
  }

  .greeting {
    text-align: end;

    & h1 {
      @include text($textColor, $fontFamilyTitle, 500, 62px, 1.2);
      letter-spacing: 2px;
      text-transform: uppercase;
      @media screen and (max-width: 767px) {
        font-size: 50px;
      }

      & span {
        color: $primaryColor;
        font-weight: 900;
      }
    }

    & p {
      @include text($textColor, $fontFamilyDescription, 300, 28px, 1.2);
      @media screen and (max-width: 767px) {
        font-size: 22px;
      }

      & span {
        text-decoration: 2px underline solid $primaryColor;
      }
    }
  }

  .photo {
    z-index: 1;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 400px;
    @media screen and (max-width: 1268px) {
      width: 200px;
      height: 300px;
    }
    @media screen and (max-width: 1021px) {
      display: none;
    }
  }
}


