@import "./src/commom/styles/sass/variables";
@import "./src/commom/styles/sass/mixins";

.link {
  display: flex;
  align-items: baseline;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 1px;
  @include text($textSecondaryColor, $fontFamilyDescription, 400, 13px, 45px);

  & i {
    padding: 5px;
    font-size: 16px;
  }

  & p {
    text-transform: uppercase;
    margin: 0;
  }

  &.active {
    color: $textColor;
  }
}
