@import "./src/commom/styles/sass/variables";
@import "./src/commom/styles/sass/mixins";

.footerBlock {
  padding: 16px;

  .icon {
    cursor: pointer;
    font-size: 18px;
    margin: 5px;
    color: $textSecondaryColor;

    &:hover {
      color: $textColor;
    }
  }

  .copyright {
    @include text($textSecondaryColor, $fontFamilyDescription, 400, 12px, 1.65)
  }
}
