@import './src/commom/styles/sass/variables';
@import "./src/commom/styles/sass/mixins";

.projectsBlock {
  min-height: 90vh;


  .projectsContainer {
    @include container();
    flex-direction: column;
  }

  .projects {
    width: 100%;
    @include flex(row, space-evenly, center, wrap);

    @media screen and (max-width: 629px) {
      justify-content: center
    }
  }
}

@media screen and (max-width: 629px) {
  .projects {
    justify-content: center
  }
}