.projectsBlock {
    min-height: 100vh;
    background-color: pink;
}

.projectsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.title {
    background-color: lightgrey;
}

.projects {
    border: 1px solid;
    background-color: bisque;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}